* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #eea84df7, #715004);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    background: #c75e03;
    border: 1px solid #853504;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(237, 187, 50, 0.4);
    color: rgba(255, 255, 255, 0.632);
}

.logo {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.logo span {
    color: #d8b31f;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
    color: #2d1502;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 12px 10px;
    background: transparent;
    border: 1px solid #ed940e;
    border-radius: 6px;
    color: white;
    outline: none;
    font-size: 14px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #c9defa;
    font-size: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s;
    padding: 0 5px;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -6px;
    font-size: 11px;
    color: #925510;
}

button {
    width: 100%;
    padding: 12px;
    background: #4c2a02;
    border: none;
    border-radius: 6px;
    color: #f1f7f6;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #763106;
}

.extra {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: #2e1606;
}

.extra a {
    color: #913a0e;
    text-decoration: none;
}